@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color : #080808;
    --light-color : #e7f4fd;
    
    --google-font-family : "Poppins", sans-serif;

    --primary-border-radius : 40px;
    --primary-padding: 50px; 
    --font-weight-normal : 400;
    --font-weight-bold : 900;
}

.section-wrapper {
    height: 100vh; 
    width: 100%;
    background-color: var(--light-color);
    font-family: var(--google-font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
     
}
 
.section-container {
    /* height: 350px;  */
    width: 600px;
    background-color: var(--dark-color);
    border-radius: var(--primary-border-radius);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    
}

.card .card-logo img {
    width: 150px;
}

.card, .card .card-logo {
    display: flex;
    align-items: center;
}

.card .card-logo h4 {
    font-size: 24px;
    text-transform: capitalize;
    margin-left: -15px;
    font-weight: var(--font-weight-normal);
}

.card {
    justify-content: space-between;
    padding: calc(var(--primary-padding) / 4);
}
.card .card-chip {
    width: 150px;
    
}

.card-body {
    margin: 0px 40px;
    display: flex; 
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card-body .card-name {
    font-size: 16px;
    font-weight: var(--font-weight-normal); 
    text-transform: capitalize;
    margin-bottom: 5px;
}

.card-body p.card-number {
    font-size: 30px;
    font-weight: var(--font-weight-normal);
    letter-spacing: 1.0px; 
    word-spacing: 1.4px;
}


.card-body .cardholder {
    font-size: 19px;
    text-transform: capitalize;
    margin-top: 50px;
}

.card-detials-right h4{
    font-weight: var(--font-weight-normal);
    text-transform: capitalize;
    font-size: 18px; 
    margin-bottom: 5px;
}

.card-detials-right p {
    font-size: 22px;
}